body
{
    margin:0;
    padding:0;
    background-color:#e6e1e1;
    display:flex;
    justify-content:center;
    margin-top:30px;
}
*
{
    box-sizing:border-box;
}
#item_container{
    width:600px;
   
    background-color:white;
    padding:20px;
    border-radius:2px;
    box-shadow:0px 0px 6px 6px silver;
    
    
    
}
h1{
    text-align:center;
    text-transform:capitalize;
}
input{
    width:75%;
    margin:0px 10px 0px 20px;
    padding:8px;
    border-radius:4px;
}
button{
    padding:9px;
    width:80px;
    background-color:#8ecdeb;
    border-radius:5px;
    color:white;
    border:none;
    cursor:pointer;
}
ul
{
    list-style-type:none;
    padding:0;
    margin:0;
}
li
{
    padding:5px;
    margin:4px;
    margin-left:20px;
    border-bottom:2px solid silver;
    
}
li:last-child
{
    border-bottom:none;
}
li:hover
{
    background-color:#b9d1e7;
}